<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create MonHoc</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Create MonHoc</h1>
<form method="post" th:action="@{/monhoc/create}">
    <div>
        <label>TenMonHoc: </label>
        <input name="tenMonHoc" required/>
    </div>
    <div>
        <label>HeSo: </label>
        <input name="heSo" type="number" step="0.01" required/>
    </div>
    <button type="submit">Create</button>
</form>
</body>
</html>
